services:
  db:
    image: postgres:18
    container_name: postgres-db
    restart: unless-stopped
    profiles: ["db"]
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

  redis:
    image: redis:7
    container_name: redis
    restart: unless-stopped
    profiles: ["redis"]
    ports:
      - "6379:6379"

volumes:
  pgdata:
